@import './ember-input-mask/variables';

.input-mask {
    overflow: auto;
    white-space: nowrap;
    &-date {
        font-size: $gvnt-input-mask-font-size;
        .mask {
            display: inline;
            position: relative;
            pointer-events: none;
            left: -10.78rem;
            font-size: $gvnt-input-mask-font-size;
            color: $gvnt-gray-light;
            font-weight: 300;
            .invisible {
                &.has-content {
                    margin-right: -2px;
                }
            }
        }
    }

    input {
        display: inline;
        border: 1px black solid;
        font-size: $gvnt-input-mask-font-size;
        padding-left: 0.5rem;
    }
}
