$gvnt-input-mask-font-size: 1rem !default;
$gvnt-input-padding: 0 0.1rem !default;
$gvnt-input-left-spacing: 0.5rem !default;
$gvnt-input-border: 1px solid black !default;
$gvnt-font-weight: 300 !default;
$gvnt-invisble-mask-margin: -2px !default;

//colors
$gvnt-gray-base: #000 !default;
$gvnt-gray-light: lighten($gvnt-gray-base, 46.7%) !default;
