<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row mt-5">
    <div class="col-6 mx-auto">
        <h1 class="mb-5">
            Dummy App
        </h1>
        <DateInputMask />
    </div>
</div>