<DocsHero />

<div style="max-width: 40rem; marginL 0 auto; padding: 0 1.5rem">
    <DocsDemo as |demo|>
        <p style="margin:1rem 1rem;">A <b>date input mask</b> with default values.</p>
        <demo.example @name="my-demo.hbs">
            <DateInputMask/>
        </demo.example>
        {{demo.snippet "my-demo.hbs"}}
    </DocsDemo>
</div>