<DocsHero
    @heading='Input Mask'
/>

<div class ="index-demo">
    <DocsDemo as |demo|>
        <p class="demo-text">A <b>date input mask</b> with default values.</p>
        <demo.example @name="my-demo.hbs">
            <DateInputMask/>
        </demo.example>
        {{demo.snippet "my-demo.hbs"}}
    </DocsDemo>
</div>